<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dao.NoteMapperDao">
  <resultMap id="note" type="Note">
    <result property="noteId" column="noteId"/>
    <result property="content" column="content"/>
    <result property="noteTypeId" column="noteTypeId"/>
    <result property="createDate" column="createDate"/>
    <result property="userId" column="userId"/>
  </resultMap>
  <select id="select" resultType="java.util.Map" resultMap="note">select * from note where noteId = #{noteId}</select>
  <select id="selectList" resultType="java.util.List" resultMap="note">select * from note where 1 = 1 
    <if test="{condition != null}">and ${condition}</if>  
    <if test="noteId != null">and noteId = #{noteId}</if>
    <if test="content != null">and content = '#{content}'</if>
    <if test="noteTypeId != null">and noteTypeId = #{noteTypeId}</if>
    <if test="createDate != null">and createDate = '#{createDate}'</if>
    <if test="userId != null">and userId = #{userId}</if> limit #{startPage},#{page}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">select count(noteId) from note where 1 = 1 
    <if test="{condition != null}">and ${condition}</if>  
    <if test="noteId != null">and noteId = #{noteId}</if>
    <if test="content != null">and content = '#{content}'</if>
    <if test="noteTypeId != null">and noteTypeId = #{noteTypeId}</if>
    <if test="createDate != null">and createDate = '#{createDate}'</if>
    <if test="userId != null">and userId = #{userId}</if> 
  </select>
  <insert id="insert" parameterType="Note">insert into note (noteId,content,noteTypeId,createDate,userId) values (#{noteId},#{content},#{noteTypeId},#{createDate},#{userId})</insert>
  <update id="update" parameterType="Note">update note set 
    <if test="noteId != null">noteId = #{noteId},</if>
    <if test="content != null">content = #{content},</if>
    <if test="noteTypeId != null">noteTypeId = #{noteTypeId},</if>
    <if test="createDate != null">createDate = #{createDate},</if>
    <if test="userId != null">userId = #{userId},</if>noteId = #{noteId} where noteId = #{noteId}
  </update>
  <delete id="deleteByIds" parameterType="Note">delete from note where noteId in (#{ids})</delete>
  <select id="maxId" resultType="java.util.Map" resultMap="note">select max(noteId) from note</select>
</mapper>
