<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dao.TagMapperDao">
  <resultMap id="tag" type="Tag">
    <result property="tagId" column="tagId"/>
    <result property="tagName" column="tagName"/>
    <result property="userId" column="userId"/>
    <result property="test" column="test"/>
  </resultMap>
  <select id="select" resultType="java.util.Map" resultMap="tag">select * from tag where tagId = #{tagId}</select>
  <select id="selectList" resultType="java.util.List" resultMap="tag">select * from tag where 1 = 1 
    <if test="{condition != null}">and ${condition}</if>  
    <if test="tagId != null">and tagId = #{tagId}</if>
    <if test="tagName != null">and tagName = '#{tagName}'</if>
    <if test="userId != null">and userId = #{userId}</if>
    <if test="test != null">and test = '#{test}'</if> limit #{startPage},#{page}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">select count(tagId) from tag where 1 = 1 
    <if test="{condition != null}">and ${condition}</if>  
    <if test="tagId != null">and tagId = #{tagId}</if>
    <if test="tagName != null">and tagName = '#{tagName}'</if>
    <if test="userId != null">and userId = #{userId}</if>
    <if test="test != null">and test = '#{test}'</if> 
  </select>
  <insert id="insert" parameterType="Tag">insert into tag (tagId,tagName,userId,test) values (#{tagId},#{tagName},#{userId},#{test})</insert>
  <update id="update" parameterType="Tag">update tag set 
    <if test="tagId != null">tagId = #{tagId},</if>
    <if test="tagName != null">tagName = #{tagName},</if>
    <if test="userId != null">userId = #{userId},</if>
    <if test="test != null">test = #{test},</if>tagId = #{tagId} where tagId = #{tagId}
  </update>
  <delete id="deleteByIds" parameterType="Tag">delete from tag where tagId in (#{ids})</delete>
  <select id="maxId" resultType="java.util.Map" resultMap="tag">select max(tagId) from tag</select>
  <select id="aaaa" resultType="java.util.Map" resultMap="tag">dddd</select>
</mapper>
